.tickets
  %label= "#{@deSiete} de 7"
  %br
  %label= "#{@deDos} de 2"
  %br
  %label= "Suman: #{@totalTickets}"
  %br
  -if (@difference < 0) then
    %label.negative= "Te sobran: #{@difference}"
  -elsif(@difference > 0) then
    %label.possitive= "Tienes que poner: #{@difference}"
