!!! 5
%html
  %head
    %title ¡Calcula Cuantos Tickets!
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'signin'
    = javascript_include_tag 'CuantosTickets'

  %body    
    .container
      .row    
        .col-lg-6.col-offset-3.panel
          %h2.margin-base-vertical.text-center ¿Cuantos Tickets de cada?
          = form_tag tickets_path, class: 'margin-base-vertical' do
            /%p.input-group
            = number_field :ticket, 'cuantos', :step => 0.01, :value => @amtf, :id => "input", class: 'form-control input-large text-right'  
            %p.text-center  
              = button_tag "¿Cuantos?", class: 'btn btn-primary btn-large btn-block'
            = yield
