!!! 5
%html
  %head
    %title ¡Calcula Cuantos Tickets!
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap.min'

  %body
    %h1 ¿Cuantos Tickets de cada?

    .user_form
      %span
        = form_tag tickets_path do

          = number_field :ticket, 'cuantos', :step => 0.01, :value => @amtf, :id => "input"

          = button_tag "Cuantos?", class: 'btn btn-large btn-primary btn-block'

          = yield
